<!-- navigasi -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- gruping menu kalau masuk mobile -->
		<div class="navbar-header">
			<button class="navbar-toggle">
				<span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#page-top">De Architect</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li>
					<a href="#skills">SKILLS</a>
				</li>
				<li>
					<a href="#portfolio">PORTFOLIO</a>
				</li>
				<li>
					<a href="#education">EDUCATION</a>
				</li>
				<li>
					<a href="#experiences">EXPERIENCES</a>
				</li>
				<li>
					<a href="#contact">CONTACT ME</a>
				</li>
				<li>
					<a href="blog">MY NOTES</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- navigation -->

