#skill1, #skill2, #skill3, #skill4 {
    width: 200px;
    height: 200px;
}

#skill2 > svg, #skill3 > svg {
    width: 100%;
    display: block;
}
#skill1 > svg{
    width: 100%;
    display: block;
}